<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>Authorize | Lora</title>
    <link href="static/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<main class="container">
    <div class="logo">
        <img alt="Logo" height="72" src="/static/logo144.png" width="72">
    </div>
    <h1>Link Lora with Google</h1>
    {{if .Error}}<p class="error">{{.Error}}</p>{{end}}
    <div class="notice">
        <p>Your Lora account will be securely linked to your Google account.</p>
    </div>
    <form action="/oauth/authorize" method="POST">
        <div class="notice">
            <p>By signing in, you are authorizing Google to control your devices.</p>
        </div>
        <div class="actions">
            <button type="button" class="btn-auth btn-cancel">
                Cancel
            </button>
            <button type="submit" class="btn-auth btn-primary">
                Authorize
            </button>
        </div>
    </form>
</main>
</body>
</html>